<!DOCTYPE html>
<html lang="en">
<head>
    <title>Currency Conversion</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Currency Conversion</h1>

<h2>Usage examples</h2>

<p>
    1. Convert 100 RUB to USD: <a href="/convert/?amount=100&from=RUB&to=USD">/convert/?amount=100&from=RUB&to=USD</a>
</p>

<p>
    2. Convert 100 EUR to RUB: <a href="/convert/?amount=100&from=EUR&to=RUB">/convert/?amount=100&from=RUB&to=USD</a>
</p>

<p>
    3. Convert 1100 USD to AMD: <a href="/convert/?amount=1100&from=USD&to=AMD">/convert/?amount=1100&from=USD&to=AMD</a>
</p>
